.data-box {
  width: calc(25% - 30px);
  background: rgba(178, 216, 216, 0.5);
  margin: 5px;
  padding: 10px;
  min-height: 90px;

  &__data-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &__heading {
    font-weight: 600;
  }
  &__data {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
  }
  &__supData {
    margin: 0 0 0 10px;
    font-size: 14px;
  }
}
