.dashboard {
  padding: 30px;
  margin: 0 auto 30px auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  background: white;
  max-width: 980px;
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__column-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__column-two {
    display: flex;
    flex-wrap: wrap;
  }
  &__heading {
    font-size: 24px;
  }
}
