@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
.App {
  min-height: 100vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: #ebeff1;
  &__heading {
    margin: 0;
    padding: 30px;
  }
}
